.footer {
    font-size: 26px;
    height: 300px;
    width: 400px;

    position: relative;

}
.wrapper {
    display: flex;
    flex-flow: row wrap;
    align-content: start;
    justify-content: space-between;
}