.newSkill{
    padding: 3px;
    --b: 3px;   /* border thickness */
    --color: lightgray;
    margin-bottom: 10px;
    color: lightgray;
    font-size: 7px;

    outline: var(--b) solid #0000;

    border: 0;
    outline-color: var(--color);
    outline-offset: .05em;


}
.newSkill:active {
    background: var(--color);
    color: #fff;
}