.horizont {
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    margin-right: 20px;
}
.skillDescription{
    font-size: 27px;

}


                                                       /* CSS */
.button-89 {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #c54;
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: white;
margin-bottom: 15px;

    background:
            conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
            var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    font-size: 32px;
    border: 0;
    outline-color: white;
    outline-offset: .05em;
    user-select: none;

    -webkit-user-select: none;
    }

.button-89:hover,
.button-89:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.button-89:active {
    background: var(--color);
    color: #fff;
}
.button-89:disabled {
    outline-color: gray;
    outline-offset: .05em;
    color: gray;
}