.App {
  text-align: center;

}

.horizont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.vertic{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.monster{
  font-size: 20px;
}

.App-main {
background-image: url("https://cdn.discordapp.com/attachments/713472920650776657/1081557553303007282/image.png");
  background-size: cover;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

@media screen and (max-width: 1080px) {
  .App {
    text-align: center;

  }


  .horizont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .vertic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .monster {
    font-size: 16px;
  }

  .App-main {
    background-image: url("https://cdn.discordapp.com/attachments/713472920650776657/1081557553303007282/image.png");
    background-size: cover;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: nowrap;
  }
}